

{{attach_library('olivero_sub/hero-content')}}
{%
  set classes = [
    'hero-content', 
    'section-container',
    'hero-image'
  ]
%}
<div{{ attributes.addClass(classes) }}>
  <div class="section-container"></div>
    <div class="hero-content">
      <h1>A Digital Product Agency</h1>
      <p>
        Leading digital agency with solid design and development
        expertise. We build readymade websites, mobile applications,
        and elaborate online business services.
      </p>
    </div>
    <img
      class="hero-image"
      loading="eager"
      alt=""
      src="./public/image-8@2x.png"
    />
</div>