.site-header{display:flex;flex-direction:column;background-color:blueviolet;}.header-nav-overlay{position:fixed;z-index:101;top:0;display:flex;width:100%;height:100vh;opacity:0.2;background:#0d77b5;}
.menu-items{display:flex;color:red;}
.site-logo{padding-top:20px;}.site-logo p{color:red;text-align:center;}
