.site-container {
  max-width: 1440px;
  margin: auto;
}

.site-container a {
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-averta-demo-pe-cutted-demo);
  text-decoration: none;
  letter-spacing: 0.01em;
  text-shadow: 0.2px 0 0#000, 0 0.2px 0#000, -0.2px 0 0#000, 0-0.2px 0#000;
}
